@use "styles/variables" as v;
@use "styles/mixins" as m;

.catalog {
  padding: 100px 0 112px;
  @include m.align-items-center;
  flex-direction: column;

  &__title {
    text-align: center;
    color: v.$primary-color;
  }

  &__text {
    margin-top: 24px;
    max-width: 650px;
  }
}
