@use "styles/variables" as v;
@use "styles/mixins" as m;


.wrapper {
    padding: 100px 0 112px;
    @include m.align-items-center;
    flex-direction: column;
}

.about {
    text-align: center;

    .text {
        margin-top: 24px;
        max-width: 650px;
    }
}
