@use "styles/mixins" as m;
@use "styles/variables" as v;

.dropdown {
    width: 220px;
}

.select {
    @include m.align-items-center;
    justify-content: space-around;
    gap: 24px;
    background-color: v.$white;
    padding: v.$space-s v.$space-xs;
    cursor: pointer;

    &_item {
        user-select: none; 
    }
}

.menu {
    padding: v.$space-xxs;
    background-color: v.$white;
    margin-top: 12px;
    list-style: none;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2509803922);
    display: none;

    &_open {
        display: block;
    }

    &_item {
        padding: 5px 3px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            color: v.$secondary-color;
        }

        &:not(:last-child) {
            margin-bottom: v.$space-xs;
        }
    }
}

.active {
    color: v.$brand;
}