@use "styles/mixins" as m;
@use "styles/variables" as v;

.dropdown {
  width: 220px;
  position: relative;

  &__field {
    @include m.align-items-center;
    justify-content: space-around;
    gap: 24px;
    background-color: v.$white;
    padding: v.$space-s v.$space-xs;
    cursor: pointer;
  }

  &__select-item {
    user-select: none;
    color: v.$primary-color;
  }

  &__menu {
    padding: v.$space-xxs;
    background-color: v.$white;
    margin-top: 12px;
    list-style: none;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2509803922);
    display: none;
    position: absolute;

    &_open {
      display: block;
    }
  }

  &__arrow {
    color: v.$primary-color;
  }
}
