@use "styles/variables" as v;

.filter {
  width: 100%;
  margin-bottom: v.$space-48;
  margin-top: 50px;

  &__fields {
    margin-top: v.$space-xl;
    display: flex;
  }

  &__dropdown {
    margin-right: 30px;
  }
}
