@use "styles/mixins" as m;
@use "styles/variables" as v;

.product {
  padding: 60px 0 146px;

  &__link-back {
    @include m.align-items-center;
    gap: 18px;
  }

  &__icon {
    transition: transform 0.5s;
    color: v.$primary-color;
  }

  &:hover &__icon {
    transform: translate(-5px);
  }
}
