@use "styles/variables" as v;
@use "styles/mixins" as m;

.login {
  height: 100vh;
  width: 100%;
  @include m.align-items-center;
  justify-content: center;

  &__wrapper {
    width: 70%;
    min-height: 300px;
    background-color: v.$white;
    border-radius: 4px;
    box-shadow: 1px 1px 4px 1px #d6dfddcc;
    padding: 50px v.$space-l v.$space-l;
    @include m.align-items-center;
    flex-direction: column;
    justify-content: center;
  }

  &__title,
  &__subtitle {
    text-align: center;
  }

  &__subtitle {
    margin: 15px 40px;
  }

  &__link {
    color: v.$primary-color;
  }
}
