@use "styles/variables" as v;

.benefits {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-top: 60px;

  &__item {
    font-size: 20px;
    position: relative;
    color: v.$primary-color;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:before {
      content: "";
      width: 25px;
      height: 25px;
      border: 5px solid v.$brand;
      border-radius: 50%;
      position: absolute;

      top: 50%;
      transform: translateY(-50%);
      left: -35px;
    }
  }
}
