@use "styles/variables" as v;
@use "styles/mixins" as m;

.benefits {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-top: v.$space-60;

  &__item {
    font-size: v.$p-20;
    position: relative;
    color: v.$primary-color;

    &:not(:last-child) {
      margin-bottom: v.$space-l;
    }

    &:before {
      content: "";
      @include m.square(25px);
      border: 5px solid v.$brand;
      border-radius: 50%;
      position: absolute;

      top: 50%;
      transform: translateY(-50%);
      left: -35px;
    }
  }
}
