@use "styles/variables" as v;
@use "styles/mixins" as m;

.info {
  margin: 32px 0 48px;
  display: flex;
  justify-content: space-between;
  gap: 48px;

  &__image {
    width: 600px;
    height: 600px;
  }

  &__description {
    margin: 24px 0 80px;
  }

  &__actions {
    @include m.align-items-center;
    gap: 48px;
    margin-top: 48px;
  }

  &__btn {
    &_outline {
      border: 1px solid v.$primary-color;
      background-color: v.$white;
      color: v.$primary-color;
      transition: all 0.5s;

      &:hover {
        background-color: v.$white;
        border-color: v.$secondary-color;
        color: v.$secondary-color;
      }

      &:active {
        background-color: v.$white;
      }
    }
  }
}
