@use "styles/variables" as v;
@use "styles/mixins" as m;

.navbar {
  padding: v.$space-xl 0;
  background-color: v.$white;
  border: 2px solid #f3f3f3;

  &__container {
    @include m.align-items-center;
    justify-content: space-between;
  }

  &__menu {
    @include m.align-items-center;
    gap: 48px;
  }

  &__link_active {
    color: v.$brand;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: v.$brand;
      bottom: -34px;
      left: 0;
    }
  }

  &__actions {
    @include m.align-items-center;
    gap: v.$space-xl;
  }
}
