@use "styles/mixins" as m;
@use "styles/variables" as v;

.pagination {
  @include m.align-items-center;
  gap: 15px;

  color: v.$primary-color;
  &__arrow {
    &-left {
      transform: rotate(180deg);
    }
  }

  &__pages {
    @include m.align-items-center;
    font-size: v.$p-18;
    font-weight: 500;
  }
}
