@use "styles/mixins" as m;
@use "styles/variables" as v;

.text {
    @include m.align-items-center;
    gap: v.$space-xl;
   justify-self: flex-start;
}

.wrapper {
    width: 100%;
}


.subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
}

.list {
    margin-top: 35px;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 80px;
}