@use "styles/mixins" as m;
@use "styles/variables" as v;

.products {
  width: 100%;
  flex-grow: 1;
    

  &__total {
    @include m.align-items-center;
    gap: v.$space-xl;
    justify-self: flex-start;
  }

  &__text {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
  }

  &__list {
    margin-top: 35px;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 80px;
  }
}
